<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title>Hello</title>
</head>
<body>


  	<div class="col-lg-4 mx-auto border border-info rounded p-4 m-4">
  		<p class="alert alert-success">Signup Form</p>
  		<form class="p-4" id="signupForm">
  		<div class="form-group">
  			<label>Name</label>
  			<input type="text" name="name" class="form-control" id="book_name">
  		</div>
  		<div class="form-group">
  			<label>Email</label>
  			<input type="email" name="email" class="form-control" id="book_prize">
  		</div>
  		<div class="form-group">
  			<label>Password</label>
  			<input type="passeword" name="password" class="form-control" id="book_pages">
  		</div><br>
  		<div class="form-group">
  			<input type="submit" value="Sign_up" class="btn form-control btn-success"></input>
  		</div>	
  		</form>	
  	 </div>
    
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% load static %}
<script type="text/javascript" src="{% static 'signuppage.js' %}"></script>
</body>
</html>